.board{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    color: black;
    border: 3px solid #180;
    margin: 10px;
}

.description{
    padding: 10px;
    background-color: bisque;
}
.image_recipe {
    width: 150px;
    height: 150px;
}

ion-col{
    border: 3px solid #255;
    margin: 10px;
}