<ion-row style="margin-bottom: 16px; align-items: center;">
  <ion-col>
    <ion-label>{{recette.name}}</ion-label>
  </ion-col>
  <ion-col size="auto">
    <ion-label>{{recette.preTime}}</ion-label>
  </ion-col>
  <ion-col size="auto">
    <ion-label>{{recette.cookTime}}</ion-label>
  </ion-col>
  <ion-col size="auto">
    <ion-label>{{recette.serving}}</ion-label>
  </ion-col>
    <app-ingredient *ngFor="let item of recette.ingredients"
      [ingredient]=item>
    </app-ingredient>
  <ion-col size="auto">
    <ion-img
      src={{recette.image}}
      alt="The Wisconsin State Capitol building in Madison, WI at night"
    ></ion-img>
    <ion-label></ion-label>
  </ion-col>
</ion-row>