<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="recette">
      {{recette.name}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid *ngIf="recette">
    <h1>CCtoi</h1>
    <ion-row>
      <ion-input type="number" label="Prep Time (mins)" labelPlacement="stacked" value="{{recette.preTime}}"/>
    </ion-row>
    <ion-row>
      <ion-input type="number" label="Cook Time (mins)" labelPlacement="stacked" value="{{recette.cookTime}}"/>
    </ion-row>
    <ion-row>
      <ion-input type="number" label="Serving" labelPlacement="stacked" value="{{recette.serving}}"/>
    </ion-row>
    <app-ingredient-modification *ngFor="let item of recette.ingredients"
      [ingredient]=item>
    </app-ingredient-modification>
  </ion-grid>
</ion-content>