<ion-row class="board">
   <ion-col>
    <ion-row>
      <ion-col><ion-label>prep {{recette.preTime}} mins<br>
        cook {{recette.cookTime}} mins</ion-label>
      </ion-col>
      <ion-col style="align-items: right;">
        <ion-button (click)="" [disabled]="">Edit recipe</ion-button>
      </ion-col>
    </ion-row>
    <ion-row style="align-items: left;"><ion-label>{{recette.serving}}</ion-label>
      <ion-col size="auto">
        <ion-button (click)="onSub()" [disabled]="canNotBeDecreassed()">-</ion-button>
      </ion-col>
      <ion-col size="auto">
        <ion-button (click)="onAdd()" [disabled]="canNotBeDecreassed()">+</ion-button>
      </ion-col>
    </ion-row>
    <ion-img class="image_recipe"
      src={{recette.image}}
      alt="The Wisconsin State Capitol building in Madison, WI at night"
    ></ion-img>
    <h2>Ingredients</h2>
    <ion-row style="align-items: left;">
      <ion-label>
        <app-ingredient *ngFor="let item of recette.ingredients"
          [ingredient]=item>
        </app-ingredient>
      </ion-label>
    </ion-row>
  <ion-row>
    <h1>Directions</h1>
  </ion-row>
  <ion-row> Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, omnis quia quisquam expedita voluptatem odit suscipit laboriosam sequi corrupti, molestias esse? Consequatur molestiae ut dolor nobis in voluptatibus officia inventore.</ion-row>
  </ion-col>
    
 
</ion-row>