.board{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    color: black;
    border: 3px solid #180;
    margin: 10px;
    color: white
}
.image_recipe {
    width: 150px;
    height: 150px;
}

ion-row{
    width: auto;
}

ion-col{
    border: 3px solid #255;
    margin: 10px;
}